$primary-color: #3a86cb;
$o-enterprise-primary-color: #3a86cb;
$o-community-color: #3a86cb;
$gray_color: #eeeeee;
$theme-colors: (
  "primary": #3a86cb,
);
$primary: #3a86cb;
%fontawesome{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 7px;
}
%mp_zero{
    margin: 0;
    padding: 0;
}
%ls_none{
    list-style: none;
}
h2{
    font-size: 1.1rem;
}
a{
    color: $primary-color;
    &:hover{
        color: darken($primary-color, 20%);
    }
    &:active{
        color: lighten($primary-color, 10%);
    }
}
.container{
    @include media-breakpoint-up(lg) {
        max-width: 1210px;
    }
}
.btn-primary{
    background-color: $primary-color;
    border-radius: 0;
    &:hover{
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
    &:active{
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
}
.hidden-xs{
    display: none;
    @include media-breakpoint-up(sm) {
        display: block;
    }
}
#wrapwrap{
    a{
        transition: all .3s ease-in-out;
    }
    .navbar{
        padding: 0.5rem 15px;
        @include media-breakpoint-up(md) {
            padding: 0.5rem 0;
        }
        @include media-breakpoint-up(lg) {
            padding: 0.5rem 0;
        }
        @include media-breakpoint-up(xl) {
            padding: 0.5rem 0;
        }
        .navbar-brand{
            img{
                height: 3.3rem;
            }
        }
    }
}
#preheader{
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    padding: 3px 0;
    background-color: #eaeaea;
    color: #ffffff;
    width: 100%;
    #social, #language{
        a .fa, button .fa{
            &:hover{
                background-color: rgba(0, 0, 0, 0);
                border-color: $primary-color;
                color: $primary-color;
            }
        }
    }
    ul{
        &#contact{
            li{
                margin: 0 20px 0 0;
                padding: 0;
            }
        }
    }
    .list-inline{
        display: inline-block;
        margin: 0;
    }
    #social,
    #contact{
        a{
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: rgba(0, 0, 0, 0);
                border-color: $primary-color;
                color: $primary-color;
            }
            .fa{
                width: 30px;
                height: 30px;
                line-height: 30px;
                box-sizing: content-box;
                border: 2px solid transparent;
                color: #ffffff;
                background-color: $primary-color;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
            }
        }
    }

}
#top{
    nav{
        &.navbar-light{
            background-color: rgba(0, 0, 0, 0.3) !important;
        }
    }
}
#slide{
    @include media-breakpoint-up(md){
        max-height: 560px;
        position: relative;
        height: 500px;
    }
    #carouselTopIndicators{
        height: 300px;
        @include media-breakpoint-up(md){
            height: 100%;
        }
        .carousel-inner{
            height: 100%;
        }
    }
    #carousel_indicators,
    #carouselTopIndicators{
        .carousel-item{
            height: 100%;
            img{
                display: block;
                object-fit: cover;
                @include media-breakpoint-up(md){
                    width: 100%;
                }
                @include media-breakpoint-up(lg){
                    width: 100%;
                }
                @include media-breakpoint-up(xl){
                    width: 100%;
                }
            }
        }
    }
    #search_form{
        z-index: 123;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 0px auto;
        width: 100%;
        display: block;
        @include media-breakpoint-up(md){
            border-radius: 5px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 740px;
            position: absolute;
        }
        .search_wrapper{
            padding: 15px;
            width: 100%;
            height: auto;
            display: flex;
            position: relative;
            flex-direction: column;
            ul{
                &.form_search_label{
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    li{
                        list-style: none;
                        padding-bottom: 10px;
                        margin-right: 15px;
                        color: #ffffff;
                        cursor: pointer;
                        &.active{
                            background-image: url("/khmerrealty/static/description/active.png");
                            background-position: center bottom;
                            background-repeat: no-repeat;
                            color: rgba(255,255,255,1);
                            background-size: auto 7px;
                            margin-bottom: -1px;
                            z-index: 1;
                        }
                    }
                }
            }
            form{
                &#search_form_vt{
                    display: grid;
                    @include media-breakpoint-up(md){
                        grid-template-columns: 20% 70% 10%;
                    }
                    .search_location{
                        width: 100%;
                    }
                    .form-control{
                        border-radius: 0;
                        height: auto;
                        padding: 10px;
                        @include media-breakpoint-up(md){
                            border: 0;
                            padding: 15px 20px;
                        }
                    }
                    #search_location{
                        border-bottom: 0px;
                    }

                }
            }
        }
    }
}
#news_events_promote{
    margin: 15px auto;
}
#news_events{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 15px;
    ul{
        &.news_events_tap_title{
            margin: 0;
            padding: 0;
            display: flex;
            li{
                list-style: none;
                padding: 7px 15px;
                cursor: pointer;
            }
        }
    }
    .news_events_home_wrapper{
        position: relative;
        display: block;
        .news_block,
        .events_block{
            .block_inner{
                display: grid;
                row-gap: 15px;
                grid-template-columns: 100%;
                @include media-breakpoint-up(md){
                    column-gap: 15px;
                    grid-template-columns: repeat(1, 1fr);
                }
                @include media-breakpoint-up(lg){
                    row-gap: 8px;
                }
            }
            article{
                display: grid;
                grid-template-columns: 100%;
                @include media-breakpoint-up(md){
                    margin-bottom: 0px;
                    grid-template-columns: 25% 75%;
                }
                @include media-breakpoint-up(lg){
                    grid-template-columns: 30% 70%;
                    grid-template-rows: 104px;
                    overflow: hidden;
                }
                a{
                    text-decoration: none;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: block;
                    width: 100%;
                    &.post-thumbnail{
                        width: 100%;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        @include media-breakpoint-up(md){
                            max-height: 130px;
                        }
                        @include media-breakpoint-up(lg){
                            max-height: unset;
                        }
                        img{
                            width: 100%;
                            display: block;
                            @include media-breakpoint-up(md){
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    h2{
                        font-size: 1rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .news_events_content_wrapper{
                    padding: 15px;
                    overflow: hidden;
                    @include media-breakpoint-up(lg){
                        font-size: .9rem;
                        padding: 4px 15px;
                    }
                }
            }
        }
        .events_block{
            display: none;
        }
        .show{
            display: block;
        }
    }
}
#website_realty_second_slide{
    margin: auto;
    display: block;
    margin-top: 30px;
    @include media-breakpoint-up(lg){
        margin-top: 52px;
        height: 328px;
        overflow: hidden;
    }
    #carouselSecondIndicators{
        .carousel-item{
            min-height: unset;
            @include media-breakpoint-up(lg){
                height: 328px;
            }
            img{
                display: block;
                height: 100%;
                @include media-breakpoint-up(lg){
                    object-fit: cover;
                }
            }
        }
    }
}

.carousel-control-prev,
.carousel-control-next{
    background-image: none;
    min-width: 35px;
    opacity: 1;
    text-shadow: none;
    color: #1d2127;
    font-size: inherit;
    width: 5%;
    .fa{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}
.carousel-control-prev{
    left: 15px;
}
.carousel-control-next{
    right: 15px;
}
.zoom_image{
    transition: transform .2s;
    &:hover{
        transform: scale(1.1);
    }
}
.box_shadow{
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    &:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}
#mini_top_head{
    background-color: #eaeaea;
    .social_min_wrapper{
        display: flex;
        padding: 3px 0px;
        a{
            transition: all .3s ease-in-out;
            padding: 0;
            margin-right: 1px;
            @include media-breakpoint-up(md){
                margin-right: 5px;
            }
            .fa{
                width: 30px;
                height: 30px;
                line-height: 27px;
                border: 2px solid transparent;
                color: #ffffff;
                background-color: $primary-color;
                text-align: center;
                display: inline-block;
                vertical-align: middle;                
                transition: all .3s ease-in-out;
                font-size: 1rem;
                &:hover{
                    background-color: #ffffff;
                    border: 2px solid $primary-color;
                    color: $primary-color;
                }
            }
        }
    }
    .col-md-6{
        width: 50%;
        .top_contact_info_wrapper{
            padding: 3px 0px;
            margin-left: 13px;
            @include media-breakpoint-up(md){
                margin-left: 0px;
            }
            ul{
                @extend %mp_zero;
                display: flex;
                align-items: center;
                li{
                    @extend %ls_none;
                    margin-right: 5px;
                    &.app{
                        &:before{                            
                            background-image: url('/khmerrealty/static/description/app.svg');
                            width: 30px;
                            height: 30px;
                            display: block;
                            content: '';
                            float: left;
                        }
                    }
                    &.tel{
                        &:before{
                            background-image: url('/khmerrealty/static/description/icons/phone-1.svg');
                            width: 30px;
                            height: 30px;
                            display: block;
                            content: '';
                            float: left;
                        }
                    }
                    &.langs{
                        .btn-secondary{
                            background-color: $primary-color;
                            border-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
.img_circle{
    border-radius: 50%;
}
header{
    &.o_header_affix{
        section{
            &#slide{
                display: none;
            }   
        }
    }
}
#feature_project_home,
#feature_property_homepage,
#feature_agency_homepage,
#feature_location_hompage,
#related_property,
#related_project,
#agency_page,
#agent_content{
    .popular_property_title_tab{
        display: grid;
        row-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        ul{
            &.property_tab_label{
                margin: 0;
                padding: 0;
                text-align: right;
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 7px 15px;
                    cursor: pointer;
                }
            }
        }
    }
    .inner_wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 15px;
        row-gap: 15px;
        @include media-breakpoint-up(md){
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(lg){
            grid-template-columns: repeat(4, 1fr);
        }
        @include media-breakpoint-up(xl){
            grid-template-columns: repeat(4, 1fr);
        }
        article{
            display: block; 
            &.agency{
                .post-thumbnail{
                    border-bottom: 1px solid #eaeaea;
                }
                .entry-header{
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }
            .article_location{
                margin-top: 15px;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
            }
            .post-thumbnail{
                width: 100%;
                display: block;
                height: auto;
                overflow: hidden;
                height: 203px;
                @include media-breakpoint-up(md){
                    height: 203px;
                }
                img{
                    width: 100%;
                    display: block;
                    height: auto;
                    @include media-breakpoint-up(md){
                        height: 100%;
                    }
                }
            }
            .entry-header,
            .entry-content{
                padding: 15px;
            }
            .entry-header{
                padding-bottom: 0px;
                a{
                    width: 100%;
                    display: block;
                    text-decoration: none;
                }
            }
            .entry-content{
                padding-top: 0px;
            }
            .location{
                width: 100%;
            }
        }
    }
}
#agency_page{
    .inner_wrapper{
        @include media-breakpoint-up(md){
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(lg){
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
#agent_content{
    .inner_wrapper{
        @include media-breakpoint-up(md){
            grid-template-columns: repeat(2, 1fr) !important;
        }
        @include media-breakpoint-up(lg){
            grid-template-columns: repeat(3, 1fr) !important;
        }
        @include media-breakpoint-up(xl){
            grid-template-columns: repeat(4, 1fr) !important;
        }
        article{
            .post-thumbnail{
                img{
                    height: 100% !important;
                }
            }
            .entry-content{
                grid-template-columns: repeat(2, 1fr) !important;
                @extend %mp_zero;
                padding: 0px !important;
                li{
                    @extend %ls_none;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }
}
#about_content{
    overflow: hidden;
}
#feature_location_hompage{
    .inner_wrapper{
        @include media-breakpoint-up(md){
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(lg){
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
.display_none{
    display: none !important;
}
.font-bold{
    font-weight: bold;
}
ul{
    &.summary_agency{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        li{
            list-style: none;
        }
    }
    &.buy_rent_by_location{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        li{
            list-style: none;
            &:last-child{
                text-align: right;
            }
        }
    }
    &.footer_social_i{
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 7px;
        li{
            width: 100%;
            list-style: none;
            padding: 0;
            a{
                display: block;
                width: 30px;
                height: auto;
                padding: 0;
                img{
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}
li{
    &.n_property,
    &.n_project,
    &.n_agent{
        &:before{
            @extend %fontawesome;
        }
    }
    &.n_property{
        &:before{
            content: '\f015';
        }
    }
    &.n_project{
        &:before{
            content: '\f00a';
        }
    }
    &.n_agent{
        &:before{
            content: '\f007';
        }
    }
}
footer{
    &#bottom{
        background-color: $primary-color !important;
        color: #ffffff;
        a{
            color: #ffffff;
        }
        
    }
}
#right_dock{
    display: none;
    @include media-breakpoint-up(md){
        display: flex;
    }
    position: fixed;
    top: 30%;
    z-index: 5;
    right: 0px;
    width: 55px;
    background-color: $primary_color;
    box-sizing: border-box;    
    flex-direction: column;
    padding: 8px 0px;
    ul{
        margin: 0px;
        padding:0px;
        li{
            list-style: none;
            position: relative;
            margin: 5px 0px;
            padding: 0px 8px;
            a{
                background-color: rgb(255, 255, 255);
                height: 40px;
                width: 40px;
                display: flex;
                color: $primary_color;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-decoration: none;
            }
            .tel_content,
            .wechat_content,
            .login_content,
            .goto_content{
                display: none;
                position: absolute;
                background-color: $primary_color;
                min-width: 160px;
                color: #ffffff;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                p{
                    margin-bottom: 0px;
                }
            }
            &.tel,
            &.wechat,
            &.login,
            &.go_to_top{
                &:hover{
                    .tel_content,
                    .wechat_content,
                    .login_content,
                    .goto_content{
                        right: 54px;
                        width: 160px;
                        top: 0px;
                        text-align: center;
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        padding: 9px;
                        p{
                            margin-bottom: 0px;
                        }
                        img{
                            display: block;
                            width: 100%;
                        }
                    }
                }
                a{
                    &:hover{
                        .tel_content{
                            display: block;
                        }
                    }
                    p{
                        margin-bottom: 0px;
                    }
                }
            }
            &.go_to_top{
                cursor: pointer;
                display: none;
                .goto_content{
                    cursor: pointer;
                }
            }
        }
    }
}
#property_listing,
#agency_property_agent{
    width: 100%;
    display: block;
    position: relative;
    .property_list_view_wrapper{
        width: 100%;
        margin: 0px 15px;
        display: grid;
        grid-template-columns: 100%;
        @include media-breakpoint-up(lg){
            grid-template-columns: 72% 25%;
            column-gap: 35px;
        }
    }
    .property_list_view,
    ._o_agency_tab_content{
        display: block;
        width: 100%;
        position: relative;
        .inner_wrapper,
        #agency_property_content{
            display: grid;
            row-gap: 15px;
            grid-template-columns: repeat(1, 1fr);
            article{
                a{
                    text-decoration: none;
                }
                .post-thumbnail{
                    width: 100%;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    height: 203px;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        @include media-breakpoint-up(md){
                            height: 180px;
                        }
                    }
                }
                &.list_view{
                    display: grid;
                    grid-template-columns: 100%;
                    @include media-breakpoint-up(md){
                        grid-template-columns: 30% 70%;
                        height: 180px;
                        overflow: hidden;
                    }                    
                }
                .article-content-wrapper{
                    padding: 15px;
                    .entry-header{
                        width: 100%;
                        display: block;
                    }
                    .entry-content{
                        width: 100%;
                        display: grid;
                        grid-template-columns: 100%;
                        @include media-breakpoint-up(md){
                            grid-template-columns: 70% 30%;
                        }
                        .short_description_author{
                            width: 100%;
                            height: auto;
                            position: relative;
                            .article_author{
                                margin-top: 15px;
                                @include media-breakpoint-up(md){
                                    display: none;
                                }
                                @include media-breakpoint-up(xl){
                                    display: block;
                                }
                                a{
                                    &.article_author_avatar_name{
                                        width: 100%;                                        
                                        display: grid;
                                        grid-template-columns: 25px auto;
                                        height: 25px;
                                        align-items: center;
                                        img{
                                            width: 100%;
                                            display: block;
                                            height: 100%;
                                            border-radius: 50%;
                                            border: 1px solid;
                                        }
                                        p{
                                            &.author_name{
                                                margin-bottom: 0px;
                                                margin-left: 10px;
                                                text-transform: uppercase;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .article_price_actions{
                            width: 100%;
                            display: block;
                            @include media-breakpoint-up(md){
                                padding: 0px 15px;
                            }
                            .article_price{
                                display: block;
                                width: 100%;
                                span{
                                    &.price{
                                        font-weight: bold;
                                        font-size: 1.5rem;
                                        margin: auto;
                                        color: red;
                                    }
                                }
                            }
                            .actions{
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                column-gap: 15px;
                                width: 100%;
                                button{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}
#project_listing_page{
    width: 100%;
    display: block;
    position: relative;
    .project_wrapper{
        width: 100%;
        display: block;
        position: relative;
        .inner_wrapper{
            display: grid;
            row-gap: 15px;
            grid-template-columns: repeat(1, 1fr);
            article{
                a{
                    text-decoration: none;
                }
                .post-thumbnail{
                    width: 100%;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    height: 203px;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        @include media-breakpoint-up(md){
                            height: 180px;
                        }
                    }
                }
                &.list_view{
                    display: grid;
                    grid-template-columns: 100%;
                    @include media-breakpoint-up(md){
                        grid-template-columns: 30% 70%;
                        height: 180px;
                        overflow: hidden;
                    }                    
                }
                .article-content-wrapper{
                    padding: 15px;
                    .entry-header{
                        width: 100%;
                        display: block;
                    }
                    .entry-content{
                        width: 100%;
                        display: grid;
                        grid-template-columns: 100%;
                        @include media-breakpoint-up(md){
                            grid-template-columns: 70% 30%;
                        }
                        .short_description_author{
                            width: 100%;
                            height: auto;
                            position: relative;
                            .article_author{
                                margin-top: 15px;
                                @include media-breakpoint-up(md){
                                    display: none;
                                }
                                @include media-breakpoint-up(xl){
                                    display: block;
                                }
                                a{
                                    &.article_author_avatar_name{
                                        width: 100%;                                        
                                        display: grid;
                                        grid-template-columns: 25px auto;
                                        height: 25px;
                                        align-items: center;
                                        img{
                                            width: 100%;
                                            display: block;
                                            height: 100%;
                                            border-radius: 50%;
                                            border: 1px solid;
                                        }
                                        p{
                                            &.author_name{
                                                margin-bottom: 0px;
                                                margin-left: 10px;
                                                text-transform: uppercase;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .article_price_actions{
                            width: 100%;
                            display: block;
                            @include media-breakpoint-up(md){
                                padding: 0px 15px;
                            }
                            .article_price{
                                display: block;
                                width: 100%;
                                span{
                                    &.price{
                                        font-weight: bold;
                                        font-size: 1.5rem;
                                        margin: auto;
                                        color: red;
                                    }
                                }
                            }
                            .actions{
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                column-gap: 15px;
                                width: 100%;
                                button{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#search_form_not_home,
#single_property_search{
    padding: 30px 0px;
    display: block;
    background: $gray_color;
    margin-bottom: 15px;
}
#o_website_realtysearch{
    width: 100%;
    margin: auto;
    @include media-breakpoint-up(lg){
        width: 70%;
    }
    ul.search_label{
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        li{
            list-style: none;
            display: inline;
            padding: 7px 15px;
            cursor: pointer;
            display: block;
            &.active{
                background-image: url("/khmerrealty/static/description/active.png");
                background-position: center bottom;
                background-repeat: no-repeat;
                color: rgba(255,255,255,1);
                background-size: auto 7px;
                margin-bottom: -1px;
                z-index: 1;
                font-weight: bold;
                color: $primary-color;
            }
        }
    }
    #_o_search_main_form{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        @include media-breakpoint-up(md){
            grid-template-columns: 20% 70% 10%;
        }
        input{            
            &#search_text{
                border-top: 1px solid $gray_color;
                @include media-breakpoint-up(md){
                    border: 0;
                }
            }            
        }
        .form-control{
            border-radius: 0px;
            height: auto;
            padding: 10px;
            border: 0;
            @include media-breakpoint-up(md){
                border: 0;
            }
        }
    }
}
._o_wrealty_pagination_wrapper{
    width: 100%;
    margin: 30px 0px;
}
.banner_right{
    width: 100%;
    display: block;
    overflow: hidden;
    @include media-breakpoint-up(md){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    @include media-breakpoint-up(lg){
        grid-template-columns: repeat(1, 1fr);
    }
    @include media-breakpoint-up(xl){
        grid-template-columns: repeat(1, 1fr);
    }
    .ads_banner{
        width: 100%;
        display: block;        
        a{
            width: 100%;
            display: block;
            img{
                width: 100%;
                display: block;
            }
        }
    }
}

.project_gallery_fancybox,
.property_gallery_fancybox{
    display: grid;
    overflow: hidden;
    grid-template-columns: 100%;
    min-height: 200px;
    @include media-breakpoint-up(md){
        grid-template-columns: repeat(2, 1fr);
    }
    .image_1{
        display: block;
        width: 100%;
        margin-bottom: 5px;
        @include media-breakpoint-up(md){
            width: 100%;
            margin-bottom: 0px;
        }
        a{
            display: block;
            position: relative;
            @include media-breakpoint-up(md){
                display: unset;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .images_4{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5px;
        @include media-breakpoint-up(md){
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0px;
        }
        a{
            display: block;
            position: relative;
            height: 100%;
        }
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}
#single_property{
    width: 100%;
    display: block;
    .property_detail{
        display: grid;
        column-gap: 15px;
        margin-bottom: 15px;
        @include media-breakpoint-up(md){
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(lg){
            grid-template-columns: 70% 28%;
            grid-gap: 2%;
        }
        .property_detail_single{
            ul.inner_wrraper{
                @extend %mp_zero;
                display: grid;
                grid-gap: 7px;
                @include media-breakpoint-up(md){
                    grid-template-columns: repeat(2, 1fr);
                }
                li{
                    @extend %ls_none;
                }
            }
            .property_feature{
                display: grid;
                width: 100%;
                margin-top: 15px;
                grid-gap: 7px;
                ul{
                    @extend %mp_zero;
                    li{
                        @extend %ls_none;
                    }
                }
            }
            .property_amenities{
                display: block;
                position: relative;
                margin-top: 15px;
                ul{
                    display: grid;
                    grid-gap: 7px;
                    grid-template-columns: repeat(2, 1fr);
                    @extend %mp_zero;
                    @include media-breakpoint-up(lg){
                        grid-template-columns: repeat(3, 1fr);
                    }
                    li{
                        @extend %ls_none;
                        .fa{
                            color: $primary-color;
                        }
                    }
                }
            }
            .property_description{
                margin-top: 30px;
            }
        }
        .property_author_short_info{
            margin-top: 2rem;
            div{
                padding: 15px;
                width: 100%;
                &.price{
                    text-align: center;
                    padding: 15px;                    
                    span{
                        &.price{
                            color: red;
                            font-size: 2rem;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
                &.author_info_avatar{
                    padding: 15px;
                    border: 1px solid $gray_color;
                    display: flex;
                    align-items: center;
                    a{
                        position: relative;
                        overflow: hidden;
                        display: block;
                        &.post-thumbnail{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                        }
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    ul.author_name_email_phone{
                        display: block;
                        position: relative;
                        margin: 0;
                        padding: 0;
                        margin-left: 15px;
                        li{
                            list-style: none;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            &.author_email,
                            &.phone{
                                &:before{
                                    width: 25px;
                                    height: 15px;                              
                                }
                            }
                            &.author_email{
                                &:before{
                                    background-image: url('khmerrealty/static/description/email.svg');
                                }
                            }
                            &.phone{
                                &:before{
                                    background-image: url('khmerrealty/static/description/phone.svg');
                                }
                            }

                            h1{
                                font-size: 1rem;
                            }
                        }
                    }
                }
                &.article_location{
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                    padding-top: 0px;
                }     
                &.actions_call_email{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    border-top:1px solid $gray_color;
                    column-gap: 15px;
                    button{
                        border-radius: 0;
                        a{
                            text-transform: uppercase;
                            color: #ffffff;
                            text-decoration: none;
                        }
                    }
                }           
            }
            ul{
                &.summary_agency{
                    padding: 15px;
                }
            }
        }
    }
}
span{
    &.city{
        &:before{
            @extend %fontawesome;
            content: '\f041';
        }
        &:after{
            @extend %fontawesome;
            content: '\f054';
            margin-left: 5px;
            margin-right: 0px;
        }
    }
    &.city_sub1{
        &:after{
            @extend %fontawesome;
            content: '\f054';
            margin-left: 5px;
            margin-right: 0px;
        }
    }
}
.single_project{
    width: 100%;
    display: block;
    position: relative;
    .inner_wrapper{
        display: grid;
        width: 100%;
        @include media-breakpoint-up(md){
            grid-template-columns: 60% 38%;
            grid-gap: 2%;
        }
        @include media-breakpoint-up(lg){
            grid-template-columns: 70% 28%;
            grid-gap: 2%;
        }
        .project_detail{
            width: 100%;
            position: relative;
            display: block;
            ul.inner_wrapper{
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 5px;
                margin-bottom: 15px;
                li{
                    list-style: none;
                }
            }
        }
    }
}
.banner_adds{
    a.post-thumbnail{
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
#agency_image_short_description{
    .agency_logo_short_description{
        display: block;
        width: 100%;
        padding: 15px;
        border: 1px solid #eeeeee;
    }
    .inner_wrapper{
        display: grid;
        grid-gap: 2%;
        grid-template-columns: 38% 60%;
        @include media-breakpoint-up(md){
            grid-template-columns: 25% 73%;
        }
        @include media-breakpoint-up(lg){
            grid-template-columns: 20% 78%;
        }
        figure{
            width: 100%;
            height: auto;
            margin: 0;
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .short_description{
            display: block;
            ul.email_tel_address{
                display: block;
                @extend %mp_zero;
                li{
                    @extend %ls_none;
                }
            }
        }
    }
}
#agency_property_agent{
    width: 100%;
    display: block;
    .inner_wrapper{
        display: block;
        ul._o_agency_tab_label{
            @extend %mp_zero;
            width: 100%;
            position: relative;
            list-style-type: none;
            border-bottom: 1px solid #eeeeee;
            li{
                @extend %ls_none;
                cursor: pointer;
                display: inline-block;
                padding: 0 24px;
                height: 48px;
                line-height: 48px;
                text-transform: uppercase;
                &.active{
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                }
            }
            .indicator{
                position: absolute;
                bottom: 0;
                height: 2px;
                background-color: #f6b2b5;
            }
        }
        ._o_agency_tab_content{
            display: block;
            width: 100%;
            padding: 15px 0;
        }
    }
}
#property_by_author{
    width: 100%;
    display: block;
    position: relative;
    .author_avatar_short_description{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        height: 100%;
        @include media-breakpoint-up(md){
            height: 160px;
        }
        @include media-breakpoint-up(xl){
            height: 160px;
            grid-template-columns: 20% 80%;
        }
        a{
            display: block;
            position: relative;
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
                display: block;
            }
        }
        .short_description{
            display: block;
            padding: 15px;
            width: 100%;
            background-color: $primary-color;
            color: #ffffff;
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    .inner_wrapper{
        width: 100%;
        @include media-breakpoint-up(lg){
            display: grid;
            grid-template-columns: 70% 28%;
            grid-gap: 2%;
        }
        .author_property_list{
            width: 100%;
            display: block;
            position: relative;
            margin-bottom: 15px;
            article{
                width: 100%;
                display: block;
                margin-bottom: 15px;
                @include media-breakpoint-up(md){
                    display: grid;
                    grid-template-columns: 30% 70%;
                }
                &:first-child{
                    margin-top: 15px;
                }
                &:last-child{
                    margin-bottom: 0px;
                }
                a{
                    width: 100%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-decoration: none;
                    h2{
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    img{
                        width: 100%;
                        display: block;
                        @include media-breakpoint-up(md){
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .entry-content{
                    p{
                        @include media-breakpoint-up(md){
                            margin-bottom: 0px;
                        }
                    }
                    @include media-breakpoint-up(md){
                        display: grid;
                        grid-template-columns: 70% 30%;
                    }
                }
                .article-content-wrapper{
                    width: 100%;
                    padding: 15px;
                    .article_author{
                        a{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            img{
                                width: 60px;
                                display: block;
                                height: 60px;
                                object-fit: cover;
                                border-radius: 50%;
                                border: 1px solid $primary-color;
                                margin-right: 15px;    
                                @include media-breakpoint-up(md){
                                    width: 25px;
                                    height: 25px;
                                }                        
                            }
                            p{
                                width: 100%;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                    }
                    .article_price_actions{
                        width: 100%;
                        padding: 15px 0px;
                        display: block;
                        padding-bottom: 0px;
                        @include media-breakpoint-up(md){
                            padding: 0px;
                        }
                        .article_price{
                            display: none;                            
                            @include media-breakpoint-up(md){
                                display: block;    
                                text-align: center;    
                            }
                            span.price{
                                font-weight: bold;
                                font-size: 1.5rem;
                                margin: auto;
                                color: red;
                            }
                        }
                        .actions{
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-gap: 15px;
                            button{
                                width: 100%;
                                border-radius: 0px;
                            }
                        }
                    }
                }
            }
        }
        .banner_right{
            @include media-breakpoint-up(lg){
                grid-template-columns: 100%;
                margin-top: 15px;
            }
        }
    }    
}
#blog_post_single_article{
    display: block;
    width: 100%;
    article{
        img{
            width: 100%;
            margin: 15px 0px;
        }
    }    
}
#secondary{
    #banner_ads{
        a{
            width: 100%;
            display: block;
            position: relative;
            img{
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }
}
#blog_post_list{
    width: 100%;
    display: block;
    position: relative;
    .blog_list_wrapper{
        width: 100%;
        display: block;
        position: relative;
        .inner_wrapper{
            display: block;
            @include media-breakpoint-up(md){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
            }
            @include media-breakpoint-up(lg){
                grid-template-columns: repeat(3, 1fr);
            }
            @include media-breakpoint-up(xl){
                grid-template-columns: repeat(3, 1fr);
            }
            article{
                display: block;
                margin-bottom: 15px;   
                overflow: hidden;
                @include media-breakpoint-up(md){
                    margin-bottom: 0;
                }             
                header{
                    &.entry-header{
                        h2.entry-title{
                            padding: 15px;
                            padding-bottom: 0px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        } 
                    }
                    .entry-meta{
                        padding: 0px 15px;
                    }
                }
                a{
                    display: block;
                    width: 100%;
                    text-decoration: none;   
                    white-space: nowrap;                 
                    &.post-thumbnail{
                        width: 100%;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        @include media-breakpoint-up(lg){
                            height: 200px;
                        }
                    }
                    img{
                        width: 100%;
                        display: block;
                        position: relative;
                        @include media-breakpoint-up(lg){
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .entry-content{
                    padding: 15px;
                    display: block;
                    padding-top: 7px;
                }
            }
        }
    }
}
.news_event_tap_wrraper{
    display: block;
    h2{
        margin-bottom: 0px;
    }
}
.desktop_show{
    display: none;
    @include media-breakpoint-up(md){
        display: block;
    }
}
.mobile_show{
    display: block;
    @include media-breakpoint-up(md){
        display: none;
    }
}
ul.text-right{
    text-align: left !important;
    li{
        a{
            color: #333333 !important;
        }
    }
}
footer{
    ul.js_language_selector{
        a{
            color: #333333 !important;
        }
    }
    .o_footer_copyright{
        .text-muted{
            color: #ffffff !important;
        }
    }
}
.langs_app_tel{
    float: right;
    .langs{
        .dropup{
            &:active{
                border: 0px !important;
            }
            button{
                border: 0px;
                background: none !important;
                &:active{
                    border: 0px !important;
                }
            }
            .dropdown-menu{
                min-width: 8rem;
                a{
                    &.dropdown-item{
                        padding: 0.25rem 0px .25rem 1rem;
                    }
                    &.en_US,
                    &.km_KH,
                    &.zh_CN{
                        &:before{
                            content: '';                            
                            width: 20px;
                            height: 16px;
                            display: block;
                            background-repeat: no-repeat;
                            background-size: 20px 16px;
                            margin-right: 7px;
                            margin-top: auto;
                            margin-bottom: auto;
                            margin-top: 2px;
                        }
                    }
                    &.en_US{
                        &:before{
                            background: url('/khmerrealty/static/description/icons/gb.svg');
                        }
                        
                    }
                    &.km_KH{
                        &:before{
                            background: url('/khmerrealty/static/description/icons/kh (1).svg');
                        }
                    }
                    &.zh_CN{
                        &:before{
                            background: url('/khmerrealty/static/description/icons/cn.svg');
                        }
                    }
                }
            }
        }
    }
}
.navbar ul.nav > li.divider{
    border: 0;
}